In [1]:
import numpy as np
import pandas as pd
import scipy as sp

In [2]:
data = pd.read_csv('data.dat', sep=" ")
data

   Trial  Potential  Current  OuterR  InnerR  OuterL  InnerL
0      1      130.1     1.30     4.4     3.4     4.2     3.2
1      2      189.8     1.91     3.3     2.9     3.7     3.3
2      3      190.0     1.45     4.6     3.6     5.0     4.2
3      4      177.0     2.00     3.0     2.5     3.5     3.1
4      5      193.0     1.00     6.2     6.0     7.2     5.7

In [3]:
def average(row):
    dat = [row['OuterR'] , row['InnerR'] , row['OuterL'] , row['InnerL']]
    return np.mean(dat)
def error(row):
    dat = [row['OuterR'] , row['InnerR'] , row['OuterL'] , row['InnerL']]
    err = sp.stats.sem(dat)
    return err
def fractionalMeasurment(row):
    uncrt = 0.05
    mean = average(row)
    return uncrt / mean
def fractionalMean(row):
    return error(row) / average(row)

In [4]:
data['Average R'] = data.apply(average, axis = 1)
data['StdError of Mean'] =  data.apply(error, axis = 1)
data['Fractional Mean Uncertainty'] =  data.apply(fractionalMean, axis = 1)

In [5]:
data

,Trial,Potential,Current,OuterR,InnerR,OuterL,InnerL,Average R,StdError of Mean,Fractional Mean Uncertainty
0,1,130.1,1.30,4.4,3.4,4.2,3.2,3.800,0.294392,0.077472
1,2,189.8,1.91,3.3,2.9,3.7,3.3,3.300,0.163299,0.049485
2,3,190.0,1.45,4.6,3.6,5.0,4.2,4.350,0.298608,0.068645
3,4,177.0,2.00,3.0,2.5,3.5,3.1,3.025,0.205649,0.067983
4,5,193.0,1.00,6.2,6.0,7.2,5.7,6.275,0.325000,0.051793

In [6]:
out = data[['Potential', 'Current', 'Average R', 'StdError of Mean']].copy()
out

   Potential  Current  Average R  StdError of Mean
0      130.1     1.30      3.800          0.294392
1      189.8     1.91      3.300          0.163299
2      190.0     1.45      4.350          0.298608
3      177.0     2.00      3.025          0.205649
4      193.0     1.00      6.275          0.325000

In [7]:
def rounding(row):
    sci_error = np.format_float_scientific(row['StdError of Mean'], precision = 1)
    place = int(sci_error[-3:])
    if place <=0:
        place *= -1
        retR = round(row['Average R'], place)
        place += 1
        retStdErr = round(row['StdError of Mean'], place)
        return retR, retStdErr

In [8]:
x = out.apply(rounding, axis = 1, result_type = 'expand')
out['Average R'] = x[0]
out['StdError of Mean'] = x[1]
out

   Potential  Current  Average R  StdError of Mean
0      130.1     1.30        3.8              0.29
1      189.8     1.91        3.3              0.16
2      190.0     1.45        4.4              0.30
3      177.0     2.00        3.0              0.21
4      193.0     1.00        6.3              0.32

In [9]:
def IR(row):
    return (row['Current']*row['Average R'])**2
def IRErr(row):
    I = row['Current']
    r = row['Average R']
    I_err = 0.005
    r_err = row['StdError of Mean']

    first = (I_err*2*I*r*r)**2
    second = (r_err*2*I*I*r)**2
    return np.sqrt(first + second)

In [10]:
out['IR'] = out.apply(IR, axis = 1)
out['IRerr'] = out.apply(IRErr, axis = 1)
out

   Potential  Current  Average R  StdError of Mean         IR     IRerr
0      130.1     1.30        3.8              0.29  24.403600  3.729487
1      189.8     1.91        3.3              0.16  39.727809  3.858005
2      190.0     1.45        4.4              0.30  40.704400  5.557694
3      177.0     2.00        3.0              0.21  36.000000  5.043213
4      193.0     1.00        6.3              0.32  39.690000  4.051488

In [11]:
def scale(row):
    first = 2 * (15.8**2) * ((5/4)**3)
    second = (130 * 4e-7 * np.pi)**2
    factor = first / second
    return row['IR'] / factor
def scaleErr(row):
    first = 2 * (15.8**2) * ((5/4)**3)
    second = (130 * 4e-7 * np.pi)**2
    factor = first / second
    return row['IRerr'] / factor
def fill(row):
    return 0.05

In [12]:
out['IR'] = out.apply(scale, axis=1)
out['IRerr'] = out.apply(scaleErr, axis=1)
out['PotErr'] = out.apply(fill, axis = 1)

In [13]:
real = out[['IR', 'Potential', 'PotErr', 'IRerr']]
real

             IR  Potential  PotErr         IRerr
0  6.678611e-10      130.1    0.05  1.020661e-10
1  1.087244e-09      189.8    0.05  1.055832e-10
2  1.113970e-09      190.0    0.05  1.520992e-10
3  9.852234e-10      177.0    0.05  1.380192e-10
4  1.086209e-09      193.0    0.05  1.108784e-10

In [14]:
#real.to_csv('out.csv', index = False)